@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --whiteColor: #ffffff;
  --lightColor: #e9f5db;
  --greenColor: #219724;
  --blackColor: #132a13;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lightColor: var(--lightColor);
  --color-greenColor: var(--greenColor);
  --color-blackColor: var(--blackColor);
  --color-whiteColor: var(--whiteColor);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar{
  width: 7.5px;
  background-color: var(--whiteColor);
}

::-webkit-scrollbar-thumb{
  border-radius: 25px;
  background-color: var(--greenColor);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.common-px{
  padding-inline: 4.5%; 
}

.font-quran {
  font-family: var(--font-scheherazade) !important;
}

.hexa-card{
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: calc((100% / 4) - (20px - (20px /4)));
}

.pattern-bg {
  background-image:
    repeating-linear-gradient(45deg, transparent, transparent 35px, var(--lightColor) 35px, var(--lightColor) 70px),    
    repeating-linear-gradient(-45deg, transparent, transparent 35px, var(--lightColor) 35px, var(--lightColor) 70px)
  ;
}

.light-pattern-bg {
  background-image: repeating-radial-gradient(circle at 0 0,
    var(--lightColor),
    var(--lightColor) 3px,
    transparent 2px,
    transparent 8px)
  ;
    background-size: 50px 50px;
}

.stock-card-width{
  width: calc((100% / 4) - (20px - (20px /4)));
}

@media only screen and (max-width: 1030px) {
  .stock-card-width{
    width: calc((100% / 3) - (20px - (20px /3)));
  }
}

@media only screen and (max-width: 800px) {
  .stock-card-width{
    width: calc((100% / 2) - (20px - (20px /2)));
  }
}

@media only screen and (max-width: 510px) {
  .stock-card-width{
    width: calc((100% / 1) - (20px - (20px /1)));
  }
}